@media (min-width: 280px) {
    .card {
        width: 16rem;
    }
}


@media (min-width: 320px) {
    .card {
        width: 19rem;
    }
}

@media (min-width: 360px) {
    .card {
        width: 22rem;
    }
}

@media (min-width: 768px) {
    .card {
        width: 35rem;
    }
}

@media (min-width: 1024px) {
    .card {
        width: 40rem;
    }
}


.card-title {
    /* background-color: #2a9d8f; */
    color: white;
    border-radius: 5px;
    padding: 2px;
}

.card-text {
    background-color: rgb(238, 238, 238);
    padding: 5px;
}

.autor {
    font-weight: 500;
    color: rgb(87, 87, 87);
    font-style: italic;
}

.status-desactive, .status-active {
    font-size: 15px;
}


.card:hover {
    border: 1px dashed  #2a9d8f ;
}


