<app-header [createPage]="createPage"></app-header>

<div class="d-flex justify-content-center">
    <div class="card mt-5 shadow-lg">

        <div class="card-body">
            <h5 class="card-title bg-primary text-light text-center">Criar nova notícia</h5>

            <form [formGroup]="form">
                <div class="form-group">
                    <input class="form-control mt-1" type="text" placeholder="Título" name="titulo" formControlName="titulo">
                    <div *ngIf="form.controls.titulo.invalid && !form.controls.titulo.pristine" class="alert alert-danger mt-1">
                        Titulo inválido!
                    </div>
                    <textarea class="form-control mt-1" name="" id="" cols="30" rows="10" name="descricao" formControlName="descricao"></textarea>
                    <div *ngIf="form.controls.descricao.invalid && !form.controls.descricao.pristine" class="alert alert-danger mt-1">
                        Descrição inválida!
                    </div>
                    <input class="form-control mt-1" type="text" placeholder="Autor" name="autor" formControlName="autor">
                    <div *ngIf="form.controls.autor.invalid && !form.controls.autor.pristine" class="alert alert-danger mt-1">
                        Campo autor inválido!
                    </div>
                    <div class="d-flex align-items-center">
                        <input type="checkbox" name="status" id="" formControlName="status" value="1">
                        <span class="ml-1">Tornar ativo</span>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <a href="/" class="btn btn-outline-danger btn-sm">Cancelar</a>
                    <button class="btn btn-outline-primary btn-sm" (click)="saveNotice()">Criar</button>
    
                </div>
            </form>

        </div>
    </div>
</div>